/dev_fletapp
/dev2_fletapp
/fletapp
/node_modules
/auto/__pycache__
/core/__pycache__
/ftback/__pycache__
/manager/__pycache__
/okz/__pycache__
/photographer/__pycache__
/render/__pycache__/
/stockman/__pycache__
/core/__init__.py
/core/migrations
/tgbot/credentials.json
/stockman/credentials.json
/render/credentials.json
credentials.json
/myfrontend/node_modules
/myfrontend/package-lock.json
/myfrontend/teez-frontend/node_modules
/myfrontend/teez-frontend/package-lock.json
start_teez_all — копия.bat
/myproject/__pycache__
frontend/teez-frontend/package-lock.json
/manager/__pycache__
/myproject/__pycache__
/render/__pycache__
/render/__pycache__
/retoucher/__pycache__
/SeniorRetoucher/__pycache__
/SeniorRetoucher/__pycache__
/stockman/__pycache__
/stockman/__pycache__
/tgbot/__pycache__
/render/__pycache__
/render/__pycache__
*.pyc
/media

out/