.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Стиль для подсветки строки зеленым подчеркиванием */
.highlight-row-green-underline td {
  /* Применяем к ячейкам (td), чтобы подчеркивание было под всем контентом ячейки */
  border-bottom: 2px solid green !important; 
  /* !important может понадобиться для переопределения стандартных стилей Ant Design */
}

/* Опционально: если в темном режиме стандартный зеленый плохо виден */
.dark-mode-table-row.highlight-row-green-underline td {
  border-bottom-color: lightgreen !important; /* Или другой оттенок зеленого, хорошо видный на темном фоне */
}

/* Если вы используете темную тему Ant Design, возможно, понадобится более специфичный селектор */
/* Например, если темная тема добавляет класс .ant-table-dark */

.ant-table-dark .highlight-row-green-underline td {
  border-bottom-color: lightgreen !important;
}
